services:
  bun-bank-me-db:
    container_name: bun-bank-me-db
    image: bitnami/postgresql
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bun-bank-me
